@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

.primary-color {
  @apply text-white;
}

.secondary-color {
  @apply text-gray-400;
}

.tertiary-color {
  @apply text-gray-100;
}

.root-layer {
  @apply bg-gradient-to-tr from-black to-slate-800 h-screen max-w-7xl mx-auto pt-3;
}

.user-name {
  @apply primary-color text-5xl font-bold capitalize  p-1;
}

.user-title {
  @apply primary-color text-2xl uppercase  p-1;
}

.indentity-key {
  @apply secondary-color text-lg font-medium capitalize p-1 w-36;
}

.indentity-value {
  @apply tertiary-color text-lg capitalize p-1;
}
